@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');

@font-face {
  font-family: 'Glacial';
  src: url('~assets/fonts/GlacialIndifference-Bold.woff2') format('woff2'),
      url('~assets/fonts/GlacialIndifference-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Glacial';
    src: url('~assets/fonts/GlacialIndifference-Italic.woff2') format('woff2'),
        url('~assets/fonts/GlacialIndifference-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: 'Glacial';
  src: url('~assets/fonts/GlacialIndifference-Regular.woff2') format('woff2'),
      url('~assets/fonts/GlacialIndifference-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

